[Desktop Entry]
Categories=
Comment=A simple calculator in Tauri (Rust + HTML/CSS/Typescript)
Exec=Calc
Icon=Calc
Name=Calc
Terminal=false
Type=Application
