Package: calc
Version: 0.1.0
Architecture: amd64
Installed-Size: 14584
Maintainer: Vinicius Buscacio
Priority: optional
Depends: libwebkit2gtk-4.1-0, libgtk-3-0
Description: A simple calculator in Tauri (Rust + HTML/CSS/Typescript)
 (none)
